
@{
    ViewBag.Title = "UserRegistration";
    Layout = "~/Views/Shared/_DashboardMaster.cshtml";
}


<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget widget-nopad">
                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3> User Details</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">

                            <div class="row">
                                <div class="col-25">
                                    <label for="fname">First Name</label>
                                </div>
                                <div class="col-75">
                                    <input type="text" id="fname" name="firstname" placeholder="Your name.">
                                </div>
                            </div>


                            </div>
                        </div>
                    </div>
            </div>
          </div>
        </div>
    </div>
