<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SkyVisionCables</title>
    @*<title>My Login Page &mdash; Bootstrap 4 Login Page Snippet</title>*@
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/my-login.css">
    <link href="~/Scripts/bootstrap/css/my-login.css" rel="stylesheet" />

</head>
<body>
    
    <div class="container body-content">
        <div class="my-login-page">
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/my-login.js"></script>
</body>
</html>
